@import './1-variables', './2-mixins', './3-generics', './4-fonts';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  ::-webkit-scrollbar {
    width: 7px;
    height: 2px;
  }
  ::-webkit-scrollbar-track {
    background-color: #f1f1f1;
    border-radius: 4px;
  }
  ::-webkit-scrollbar-thumb {
    background-color: rgb(179, 179, 179);
    border-radius: 4px;
  }
}

html {
  scroll-behavior: smooth;
}

body {
  position: relative;
  background-color: #f7f9fc;
}

#popup-container {
  position: fixed;
  right: 20px;
  bottom: 20px;

  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  // background-color: rgba(0, 0, 0, 0.4);
  // backdrop-filter: blur(5px);
  z-index: 100;
}

.popup-content {
  background: #ffffff;
  border: 1px solid #e1e1e1;
  border-radius: 6px;
  display: flex;
  justify-content: start;
  align-items: start;
  flex-direction: column;
  box-shadow: 0px 6px 16px 0 rgba(0, 0, 0, 0.2);
  padding: 8px 24px;
  z-index: 101;
}
