.button {
  @include flex(center, space-around, row);
  flex-shrink: 0;
  outline: none;
  border: none;
  padding: 8px 20px;
  border-radius: 4px;
  cursor: pointer;
  color: map-get($text, 'primary');
  font-size: 14px;
  box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.05);
  user-select: none;
  transition: all 0.2s ease-in-out;
  white-space: nowrap;
  flex-shrink: 0;

  &.default {
    background: map-get($action, 'inverted', 'default');
    text-align: center;
    border: 1px solid map-get($border, 'light');

    &:hover {
      background: map-get($action, 'inverted', 'hovered');
    }

    &:active {
      background: map-get($action, 'inverted', 'pressed');
    }

    &:disabled {
      background: $grey300;
      color: map-get($text, 'disabled');
      box-shadow: 0px 0px 0px rgba(0, 0, 0, 0);
    }
  }

  &.primary {
    background: map-get($action, 'primary', 'default');
    text-align: center;
    color: map-get($text, 'inverted');

    &:hover {
      background: map-get($action, 'primary', 'hovered');
    }

    &:active {
      background: map-get($action, 'primary', 'pressed');
    }

    &:disabled {
      background: $grey300;
      color: map-get($text, 'disabled');
      box-shadow: 0px 0px 0px rgba(0, 0, 0, 0);
    }
  }

  &.critical {
    background: map-get($action, 'critical', 'default');
    text-align: center;
    color: map-get($text, 'inverted');

    &:hover {
      background: map-get($action, 'critical', 'hovered');
    }

    &:active {
      background: map-get($action, 'critical', 'pressed');
    }

    &:disabled {
      background: $grey300;
      color: map-get($text, 'disabled');
      box-shadow: 0px 0px 0px rgba(0, 0, 0, 0);
    }
  }

  &.success {
    background: map-get($action, 'success', 'default');
    text-align: center;
    color: map-get($text, 'inverted');

    &:hover {
      background: map-get($action, 'success', 'hovered');
    }

    &:active {
      background: map-get($action, 'success', 'pressed');
    }

    &:disabled {
      background: $grey300;
      color: map-get($text, 'disabled');
      box-shadow: 0px 0px 0px rgba(0, 0, 0, 0);
    }
  }

  &.small {
    background: $white;
    border: 1px solid $grey200;
    box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.05);
    padding: 6px 8px;
    &:disabled {
      background: $grey300;
      color: $grey100;
      cursor: auto;
    }

    &:hover {
      background: $grey300;
    }
  }

  &.icon {
    background: transparent;
  }
}
